numpy
pandas
geopandas
fastparquet
pyarrow
nbformat
requests
openpyxl
lxml
tqdm
ipython
jupyterlab
notebook
scikit-learn
scikit-optimize
scipy
plotly
matplotlib
seaborn
tabulate
SkillMetrics
missingno
spei
pyet
kaleido
xgboost
tensorflow
earthengine-api
xee
netCDF4
h5netcdf
shapely
rioxarray
xarray
rasterio